nav {
  padding: 1em 2em 0em;
  display: flex;
  flex-direction: row;
}

nav .navButton {
  padding: 1.3em 1.8em 1.3em;
  background: var(--blue-lt);
  font-size: 1.25em;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

nav .navButton.btnOn {
  background: var(--blue-lt);
}

nav .navButton.btnOn:hover {
  color: var(--white);
  /* background: var(--blue-md); */
  cursor: pointer;
  background-image: var(--gard01);
}

nav .navButton.btnOff {
  color: grey;
  background: var(--grey);
}

nav .navButton.btnOff:hover {
  color: var(--white);
  background: var(--blue-md);
  cursor: pointer;
  background-image: var(--gard01);
}