.fishList {
  background: var(--blue-lt);
  /* padding: 1em; */
}

.panel {
  background: beige;
  border-radius: 4px;
  padding: 1em;
}

.panel {
  background: var(--white);
  display: flex;
  flex-direction: column;
}

.panel h4 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  color: var(--blue-md);
}

.panel p {
  font-size: 1.5em;
  margin: 0em;
  line-height: 1.5;
}

.panel p i {
  color: #005c6f;
  font-style: normal;
}

.nameDetailsDiv {
  display: flex;
  flex-direction: row;
}

.nameDetailsDiv h4 {
  flex-grow: 1;
}

.nameDetailsDiv button {
  flex-shrink: 1;
  margin: 0.5em 0 0 0;
  padding: 0px 12px;
  font-size: 1em;
  font-weight: 400;
  background: var(--grey);
  color: var(--blue-md);
  border: none;
  border-radius: 2px;
  line-height: 0;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.nameDetailsDiv button:hover {
  background: var(--blue-md);
  color: white;
}

.fishImg {
  width: 100%;
  height: 80%;
}

@media (min-width: 600px) {
  .fishImg {
    /* border: 1px solid red; */
    height: 150px;  }
}

@media (min-width: 800px) {
  .fishImg {
    /* border: 1px solid green; */
    height: 200px;
  }
}

@media (min-width: 1000px) {
  .fishImg {
    /* border: 1px solid green; */
    height: 280px;
  }
}
