/* FISH LISTING */
/* FISH LISTING */
section.fishListing {
  background: var(--blue-lt);
  /* padding: 1em; */
}

section.fishListing .panel {
  background: var(--white);
  display: flex;
  flex-direction: column;
  /* height: 350px; */
  /* border: 1px solid grey; */
}




section.fishListing .panel .bettafish {
  background-image: url('../images/bettafish.jpg');
}

section.fishListing .panel .nanofish {
  background-image: url('../images/nanofish.jpg');
}

section.fishListing .panel .swordtail {
  background-image: url('../images/swordtail.jpg');
}

section.fishListing .panel .lionfish {
  background-image: url('../images/lionfish.jpg');
}

section.fishListing .panel .angelfish {
  background-image: url('../images/angelfish.jpg');
}

section.fishListing .panel .clownfish {
  background-image: url('../images/clownfish.jpg');
}

.bettafish,
.nanofish,
.swordtail,
.lionfish,
.angelfish,
.clownfish
 {
  /* width: 100%; */
  /* height: 26vh; */
  background-size: cover;
  /* background-size: 100% 100%; */
  background-position: center;
  background-repeat: no-repeat;
  /* min-height: 170px; */
  flex-grow: 1;
  /* margin-bottom: .25em; */
}

section.fishListing .panel h4 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  color: var(--blue-md);
}

section.fishListing .panel p {
  font-size: 1.5em;
  margin: 0em;
  line-height: 1.5;
}

section.fishListing .panel p i {
  color: #005c6f;
  font-style: normal;

}

.nameDetailsDiv {
  display: flex;
  flex-direction: row;
}

.nameDetailsDiv h4 {
  flex-grow: 1;
}

.nameDetailsDiv button {
  flex-shrink: 1;
  margin: 0.5em 0 0 0;
  padding: 0px 12px;
  font-size: 1em;
  font-weight: 400;
  background: var(--grey);
  color: var(--blue-md);
  border: none;
  /* border: 1px solid var(--blue-md); */
  border-radius: 2px;
  line-height: 0;
  /* height: 2em; */
  text-align: center;
  outline: none;
  cursor: pointer;
}

.nameDetailsDiv button:hover {
  background: var(--blue-md);
  color: white;
}

.fishImg {
  width: 100%;
  height: 80%;
}

@media (min-width: 0px), (max-width: 369px) {
  .fishImg {
    /* border: 1px solid blue; */
    /* height: 150px; */
  }
}

@media (min-width: 370px), (max-width: 599px) {
  .fishImg {
    /* border: 1px solid blue; */
    /* height: 200px; */
  }
}

@media (min-width: 600px) {
  .fishImg {
    /* border: 1px solid red; */
    height: 150px;  }
}

@media (min-width: 800px) {
  .fishImg {
    /* border: 1px solid green; */
    height: 200px;
  }
}

@media (min-width: 1000px) {
  .fishImg {
    /* border: 1px solid green; */
    height: 280px;
  }
}
