@import './__rootVars.css';
@import './_layout.css';
@import './_nav.css';
@import './_aside.css';
@import './_header.css';
@import './_footer.css';
@import './fishList.css';
@import './dialog.css';

* {
  box-sizing: border-box;
}

html {
  background: var(--blue-pale);
  font-family: Agave, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  padding: 0;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--blue-dk);
}

p, ul, ol, li {
 color: var(--black);
}

main.container {
  background: var(--blue-lt);
  padding: 1.5em;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
}
