/* STYLES */

header {
  padding: 1em 2em 1em;
  background-image: linear-gradient(0deg, #E7FBFF 12%, #87EAFF 100%);
}

header h1 {
  font-size: 2em;
  color: var(--blue-md);
  line-height: 1.25;
  margin: .5em 0 0;
}

header h1 a {
  /*  */
}

header p {
  /*  */
}

header p a {
  /*  */
}

header .contact p {
  color: var(--blue-dk);
  font-size: 1.25em;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  text-align: center;
}

header .contact p a {
  color: var(--blue-md);
}

header .contact p a:hover {
  color: var(--blue-dk);
}

/* NAV */
/* NAV */
nav {
  padding: 1em 2em 0em;
  display: flex;
  flex-direction: row;
}

nav .navButton {
  padding: 1.3em 1.8em 1.3em;
  background: var(--blue-lt);
  font-size: 1.25em;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

nav .navButton.btnOn {
  background: var(--blue-lt);
}

nav .navButton.btnOn:hover {
  color: var(--white);
  /* background: var(--blue-md); */
  cursor: pointer;
  background-image: linear-gradient(0deg, var(--blue-lt) 0%, var(--blue-md) 100%);
}

nav .navButton.btnOff {
  color: grey;
  background: var(--grey);
}

nav .navButton.btnOff:hover {
  color: var(--white);
  background: var(--blue-md);
  cursor: pointer;
  background-image: linear-gradient(0deg, var(--blue-lt) 0%, var(--blue-md) 100%);
}


main.container {
  background: var(--blue-lt);
  padding: 1.5em;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
}

/* FISH LISTING */
/* FISH LISTING */
section.fishListing {
  background: var(--blue-lt);
  /* padding: 1em; */
}

section.fishListing .panel {
  background: var(--white);
  display: flex;
  flex-direction: column;
  height: 350px;
  /* border: 1px solid grey; */
}


@media (min-width: 0px), (max-width: 599px) {
  section.fishListing .panel {
    /* border: 1px solid blue; */
    height: 400px;
  }
}

@media (min-width: 600px) {
  section.fishListing .panel {
    /* border: 1px solid red; */
    height: 290px;
  }
}

@media (min-width: 700px) {
  section.fishListing .panel {
    /* border: 1px solid green; */
    height: 380px;
  }
}

@media (min-width: 1000px) {
  section.fishListing .panel {
    /* border: 1px solid green; */
    height: 340px;
  }
}


section.fishListing .panel .fishyImg1 {
  background-image: url('../images/fish1.jpg');
}

section.fishListing .panel .fishyImg2 {
  background-image: url('../images/fish2.jpg');
}

.fishyImg1,
.fishyImg2 {
  /* width: 100%; */
  /* height: 26vh; */
  background-size: cover;
  /* background-size: 100% 100%; */
  background-position: center;
  background-repeat: no-repeat;
  /* min-height: 170px; */
  flex-grow: 1;
}

section.fishListing .panel h4 {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  color: var(--blue-md);
}

section.fishListing .panel p {
  font-size: 1em;
  margin: 0em;
  line-height: 1.5;
}

section.fishListing .panel p i {
  color: #005c6f;
  font-style: normal;

}


/* ASIDE */
/* ASIDE */
aside {
  /*  */
}

aside h4 {
  padding: 0em 0em 0;
  text-decoration: underline;
  text-underline-position: under;
  margin: 0 0 0 0;
}

aside p {
  line-height: 1.75em;
}

aside p a {
  /*  */
}

/* FOOTER */
/* FOOTER */
footer {
  background-image: linear-gradient(180deg, #E7FBFF 12%, #87EAFF 100%);
}

footer h4 {
  font-size: 1.75em;
  color: var(--blue-md);
  /* line-height: 1.25; */
  margin: 0.5em 0 0;
}

footer .contact {
  /*  */
}

footer .contact p {
  font-size: 1.15em;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--blue-dk);
}

footer .contact p a {
  color: var(--blue-md);
}

footer .contact p a:hover {
  color: var(--blue-dk);
}